VITE_API_BASE_URL=/api/v1
VITE_BACKEND_ORIGIN=http://localhost:8080
VITE_CHAIN_RPC_URL=https://public-en-kairos.node.kaia.io
VITE_CHAIN_ID=1001
VITE_TRUST_TICKET_CONTRACT_ADDRESS=0xce763CEefFA79695a2A2499a80ff40A27a4678f5
VITE_FANCLUB_MEMBERSHIP_CONTRACT_ADDRESS=0x0AB82F1545D83f46a5a97470215b5E8Ca6226507
