VITE_API_BASE_URL=/api/v1
VITE_BACKEND_ORIGIN=http://localhost:8080
VITE_CHAIN_RPC_URL=https://public-en-kairos.node.kaia.io
VITE_CHAIN_ID=1001
VITE_TRUST_TICKET_CONTRACT_ADDRESS=0x3e1B4b3F8B61D12DFe7Ba1d8893Ff4E84bdb378C
VITE_FANCLUB_MEMBERSHIP_CONTRACT_ADDRESS=0x73aF7a3B647a81ab7003817c9Cb99137fF6A6b4D
